<table class="table">
	<th>
		<td>Member</td>
		<td>Department</td>
		<td>Building</td>
		<td>Office</td>
		<td>Uic Email</td>
		<td>Non-Uic Email</td>
		<td></td>
	</th>
	<% unless @members.nil? %>
		<% @members.each do |m| %>
			<tr>
				<td><%= m.fullname %></td>
				<td><%= m.department_name %></td>
				<td><%= m.building_fullname unless m.building_fullname.nil? %></td>
				<td><%= m.office.door_number unless m.office.door_number.nil? %></td>
				<td><%= m.uic_email unless m.uic_email.nil? %></td>
				<td><%= m.non_uic_email unless m.non_uic_email.nil? %></td>
				<td><%= link_to "Edit Member", curator_edit_member_path(m.id) %></td>
			</tr>
		<% end %>
	<% end %>
</table>
