<table class="table">
	<tr>
		<th>Member</th>
		<th>Department</th>
		<th>Building</th>
		<th>Office</th>
		<th>Uic Email</th>
		<th>Non-Uic Email</th>
		<th></td>
	</tr>
	<% unless @members.nil? %>
		<% @members.each do |m| %>
			<tr>
				<td><%= m.fullname %></td>
				<td><%= m.department_name %></td>
				<td><%= m.building_fullname unless m.building_fullname.nil? %></td>
				<td><%= m.office.door_number unless m.office.door_number.nil? %></td>
				<td><%= m.uic_email unless m.uic_email.nil? %></td>
				<td><%= m.non_uic_email unless m.non_uic_email.nil? %></td>
				<td><%= link_to "Edit Member", curator_edit_member_path(m.id) %></td>
			</tr>
		<% end %>
	<% end %>
</table>
