<table class='table table-bordered'>
  <tr>
    <th><%= sortable 'firstname', 'First Name' %></th>
    <th><%= sortable 'lastname', 'Last Name' %></th>
    <th><%= sortable 'departments.name', 'Department' %></th>
    <th><%= sortable 'buildings.fullname', 'Office' %></th>
    <th>Email</th>
    <th>Office Hours</th>
    <th>Action</th>
  </tr>
  <% @members.each do |m| %>
  <tr class='member_row'>
    <td><%= m.firstname %></td>
    <td><%= m.lastname %></td>
    <td><%= m.department.name %></td>
    <td><%= m.building.abbrev + " " + m.door_number %></td>
    <td>Email</td>
    <td>
      <ul>
        <% m.office_hours.each do |h| %>
          <li><%= Date::DAYNAMES[h.day]%>: <%= h.start.strftime('%l:%M') %>-<%= h.stop.strftime('%l:%M%P') %></li>
        <% end %>
      </ul>
    </td>
    <td><%= link_to 'Edit', edit_admin_member_path(m)%> <%= link_to 'Delete', admin_member_path(m), :method => :delete %></td>
  </tr>
<% end %>
</table>
