<div class='row'>
  <div class='col-xs-3'>
    <%= link_to 'Add New Member', new_admin_member_path %>
  </div>
  <div class='col-xs-3'>
    <%= link_to 'Add New Department', new_admin_department_path %>
  </div>
  <div class='col-xs-3'>
    <%= link_to 'Add New Building', new_admin_building_path %>
  </div>
  <div>
    <%= form_tag import_admin_members_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
    <% end %>
<div class='row'>
  <div class='col-xs-12'>
    <%= render 'member_table' %>
  </div>
</div>

