<div class='row'>
  <div class='col-xs-12'>
    There are <%= @members.count %> members in the database
  </div>

<div class='row'>

  <div class='col-xs-12'>
    <table class='table table-bordered'>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Department</th>
        <th>Office</th>
        <th>Email</th>
        <th>Hours</th>
      </tr>
    <% @members.each do |m| %>
      <tr>
        <td><%= m.firstname %></td>
        <td><%= m.lastname %></td>
        <td><%= m.department.name %></td>
        <td><%= m.building.abbrev + " " + m.office.door_number %></td>
        <td>Email</td>
        <td>Hours</td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
