<div class='row'>
  <div class='col-xs-12'>
    There are <%= @members.count %> members in the database
  </div>

  <div class='col-xs-12'>
    <%= link_to 'Add New Member', new_admin_member_path %>
  </div>
<div class='row'>

  <div class='col-xs-12'>
    <table class='table table-bordered'>
      <tr>
        <th rowspan='2'><%= link_to 'First Name', sort: 'firstname' %></th>
        <th rowspan='2'><%= link_to 'Last Name', sort: 'lastname' %></th>
        <th rowspan='2'><%= link_to 'Department', sort: 'department' %></th>
        <th rowspan='2'><%= link_to 'Office', sort: 'office' %></th>
        <th rowspan='2'>Email</th>
        <th colspan = '5'>Office Hours</th>
        <th rowspan = '2'>Action</th>
      </tr>
      <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
      </tr>
    <% @members.each do |m| %>
      <tr class='member_row'>
        <td><%= m.firstname %></td>
        <td><%= m.lastname %></td>
        <td><%= m.department.name %></td>
        <td><%= m.building.abbrev + " " + m.door_number %></td>
        <td>Email</td>
        <td>
          <ul>
            <% m.hours_on_day(1).each do |h| %>
              <li><%= h.start.strftime('%l:%M')%>-<%= h.stop.strftime('%l:%M%P') %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <% m.hours_on_day(2).each do |h| %>
              <li><%= h.start.strftime('%l:%M')%>-<%= h.stop.strftime('%l:%M%P') %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <% m.hours_on_day(3).each do |h| %>
              <li><%= h.start.strftime('%l:%M')%>-<%= h.stop.strftime('%l:%M%P') %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <% m.hours_on_day(4).each do |h| %>
              <li><%= h.start.strftime('%l:%M')%>-<%= h.stop.strftime('%l:%M%P') %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <% m.hours_on_day(5).each do |h| %>
              <li><%= h.start.strftime('%l:%M')%>-<%= h.stop.strftime('%l:%M%P') %></li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'Edit', edit_admin_member_path(m)%> <%= link_to 'Delete', admin_member_path(m), :method => :delete %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
