<div class='row'>
  <div class='col-xs-12'>
    There are <%= @members.count %> members in the database
  </div>

  <div class='col-xs-3'>
    <%= link_to 'Add New Member', new_admin_member_path %>
  </div>
  <div class='col-xs-3'>
    <%= link_to 'Add New Department', new_admin_department_path %>
  </div>
  <div class='col-xs-3'>
    <%= link_to 'Add New Building', new_admin_building_path %>
  </div>
<div class='row'>
  <div class='col-xs-12'>
    <%= render 'member_table' %>
  </div>
</div>
