<div class='row'>
  <div class='col-xs-12'>
		<h4>Open Office Hours:</h4>
    <table class="table ">
      <% @open_hours.each do |h| %>
        <tr class 'hour'>
        	<td class="building">
        		<div class="building_thumb"><%= image_tag(h.building.image_path) %></div>
        		<div><%= h.building.abbrev %></div>
        	</td>
			<td>
				<ul>
					<li class="member_name"><%= h.member_fullname %></li>
					<li><%= h.member.department_name %></li>
					<li class="door_number">Office Number: <%= h.office.door_number %></li>
				</ul>
			</td>
			<td>
				<ul>
					<li class="timer"><%= h.time_left(Time.now.strftime('%H:%M')) %> min left</li>
				</ul>
			</td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
        
