<nav class="navbar navbar-fixed-top navbar-default row">
	<div class="col-xs-4 navbar-header">
		<span class="navbar-brand"><%= link_to 'OfficeHours', root_path %></span>
	</div>
	<div class="col-xs-8" id="logout">
    <% if current_user.role == 1 %>
      <%= link_to('Member Dashboard', admin_members_path) %>
      &bull;
      <%= link_to('Department Dashboard', admin_departments_path) %>
      &bull;
      <%= link_to('Building Dashboard', admin_buildings_path) %>
      &bull;
    <% end %>

		<% if user_signed_in? %>
			<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
		<% end %>

	</div>
</nav>
